@font-face {
  font-family: "Helvetica", sans-serif;
  src: url("../public/fonts/helvetica.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-bold", sans-serif;
  src: url("../public/fonts/helvetica-bold.woff2");
  font-style: normal;
  font-weight: 700;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}

.header {
  border-bottom: 1px solid var(--light-grey, #cacad6);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
  gap: 0 20px;
}

.logo {
  display: flex;
  justify-self: center;
}

.logo SVG {
  width: 235px;
  height: 42px;
}

.basket {
  position: relative;
  justify-self: end;
}

.basket SVG {
  width: 24px;
  height: 24px;
}

.basket span {
  position: absolute;
  color: #fff;
  font-size: 11px;
  line-height: 0;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: -4px;
}

.main {
}

.top {
  min-height: 100vh;
  background-image: url("./img/top-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
}

.title {
  padding-top: 16%;
  padding-bottom: 0;
  font-size: 96px;
  font-weight: normal;
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 36px;
}

.top__text {
  font-size: 13px;
}

.buy-btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  border: none;
  border: 1px solid var(--gradient, #bc10d8);
  cursor: pointer;
  background: rgba(217, 217, 217, 0);
}

.buy-btn__text {
  padding: 21px 111px;
  color: #f6f4f5;
  font-family: Helvetica-bold;
  font-weight: 700;
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  text-transform: uppercase;
}

.buy-btn__price {
  padding: 21px 106px;
  font-family: Helvetica-bold;
  font-weight: 700;
  color: var(--grey, #5c5c5e);
}

.buy__text {
  padding-top: 6px;
  font-size: 13px;
}

.features {
  margin-top: 100px;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  max-width: 329px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px 0;
}

.tabs__btn-item {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
}

.tabs__btn-item--active {
  color: #070707;
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}

.tabs__content-item--active {
  opacity: 1;
  z-index: 6;
}

.tabs__content-img {
  grid-row: 1/-1;
  align-self: stretch;
  object-fit: cover;
}

.tabs__content-box {
}

.tabs__content-box h3 {
  font-size: 24px;
  font-weight: 400;
}

.tabs__content-box p {
  max-width: 273px;
  margin-top: 10px;
  font-weight: 400;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  grid-column: 2/3;
  gap: 9px 0;

  width: 280px;
  height: 150px;
  padding: 10px 9px;

  background-image: url(./img/content_2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.video span {
  color: var(--white, #f6f4f5);
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
}

.video__btn {
  margin-left: 22px;
}

.video__btn SVG {
  width: 50px;
  height: 50px;
}

.game {
  margin-top: 100px;
}

.game__title {
}
.game__inner {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game__descr {
  padding-right: 10px;
}

.game__descr-title {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__descr-text {
  margin-top: 10px;
}

.game__descr-link {
  margin-top: 30px;
  padding: 16px 48px 16px 47px;
  display: inline-block;

  border: 1px solid var(--gradient, #bc10d8);

  font-weight: 700;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__item {
  padding: 10px 15px 22px;
  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);

  display: flex;
  flex-direction: column;
}

.game__item-img {
}
.game__item-title {
  margin-top: 10px;

  font-size: 24px;
  font-weight: 400;
}
.game__item-text {
  margin-top: 10px;
  margin-bottom: 40px;
}
.game__item-link {
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

.buy {
  position: relative;
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}

.buy__bg {
  position: absolute;
  z-index: -1;

  font-family: Inter;
  font-size: 400px;
  font-weight: 700;
  line-height: 398px;

  opacity: 0.1;
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: line-text 7s linear 1s infinite;
}

@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-115%);
    transform-origin: right center;
  }
}

.buy__img {
}
.buy-btn-oculus {
  margin: 30px auto 0;
}

.equipment {
  margin-top: 134px;
}

.equipment__title {
}

.equipment__box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}

.equipment__box-item {
}
.equipment__box-img {
  max-width: none;
}
.equipment__box-text {
  margin-top: 10px;
}
.equipment__box-title {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.equipment__box-item--one {
  grid-row: 1/-1;
}
.promo {
  margin-top: 100px;
}
.promo__inner {
  position: relative;
  background-image: url(./img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  text-align: center;
}
.promo__btn {
  position: absolute;
  font-weight: 700;
  color: #fff;
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 80px;
}

.accessories {
  margin-top: 100px;
}
.accessories__title {
}

.accessories__text {
  margin-top: 30px;

  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accessories__items {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accessories__item {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);
}
.accessories__item-img {
}
.accessories__item-title {
  margin-top: 10px;
  color: var(--Black, #070707);
  font-size: 24px;
  margin-bottom: auto;
}
.accessories__item-text {
  margin-top: 10px;
  font-weight: 400;
}
.accessories__item-price {
  margin-top: 42px;
  color: var(--Black, #070707);
  font-weight: 700;
}
.accessories__item-btn {
  margin-top: 20px;
  padding: 6px;
  width: 100%;

  font-size: 16px;
  font-weight: 700;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 1px solid var(--gradient, #bc10d8);
  flex-shrink: 0;
}

.contacts {
  margin-top: 100px;
}
.contacts__title {
  color: var(--Black, #070707);
  font-size: 24px;
  line-height: 33px;
}
.contats__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contacts__form {
  flex-basis: 600px;
  margin-top: 10px;
}
.form {
  position: relative;
}
.form__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #cacad6;

  padding: 22px 70px 22px 5px;
  width: 100%;
}

.form__input::placeholder {
  color: var(--light-grey, #cacad6);
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__input:focus {
  background-color: #f7f7f7;
  border-radius: 8px 8px 0 0;
}

.form__btn {
  position: absolute;
  right: 3px;
  bottom: 5px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: #cacad6;

  text-transform: uppercase;
  font-weight: 700;
  color: var(--grey, #5c5c5e);
}
.contacts__text {
  margin-top: 10px;
  font-size: 13px;
  padding-right: 15px;
}
.contacts__emil {
}
.footer {
  margin-top: 103px;
  margin-bottom: 43px;
  border-top: 1px solid #cacad6;
  border-bottom: 1px solid #cacad6;
}
.social {
  display: flex;
  gap: 0 20px;
  justify-self: end;
  align-items: center;
}

.social__item {
}

.social__link {
  display: block;
  /* justify-content: center;
  align-items: center; */
}
.social__link svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 1100px) {
  .equipment__box-img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .tabs {
    display: block;
  }
  .tabs__btn {
    display: block;
    column-count: 2;
    margin-bottom: 20px;
  }
  .tabs__btn-item {
    display: block;
  }
  .game__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .equipment__box-item--one {
    width: 100%;
  }
  .accessories__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 820px) {
  .equipment__box {
    grid-template-columns: repeat(3, 1fr);
  }
  .contats__inner {
    flex-direction: column;
    gap: 46px;
  }
  .contacts__form {
    flex-basis: auto;
  }
  .contacts__emil {
    text-align: end;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 62px;
  }
  .subtitle {
    font-size: 24px;
  }
  .tabs__content-item {
    gap: 8px;
  }
}

@media (max-width: 640px) {
  .top {
    text-align: center;
  }

  .buy-btn {
    flex-direction: column;
    margin: 50px auto;
  }
  .accessories__items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 568px) {
  .features__titles {
    display: block;
  }
  .tabs__content {
    height: 710px;
  }
  .tabs__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabs__content-box {
    width: 100%;
  }
  .video {
    width: 100%;
  }

  .game {
    margin-top: 0;
  }

  .equipment__box {
    display: block;
  }
  .equipment__box-item {
    margin-top: 20px;
  }
  .equipment__box-item:nth-child(3) {
    margin: 40px auto 50px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 46px;
  }
  .subtitle {
    font-size: 20px;
  }

  .tabs__btn {
    column-count: 1;
  }

  .features__text {
    font-size: 30px;
  }

  .game__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
