@font-face {
  font-family: "Helvetica", sans-serif;
  src: url("../public/fonts/helvetica.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica-bold", sans-serif;
  src: url("../public/fonts/helvetica-bold.woff2");
  font-style: normal;
  font-weight: 700;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}

.header {
  border-bottom: 1px solid var(--light-grey, #cacad6);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
  gap: 0 20px;
}

.logo {
  justify-self: center;
}

.logo SVG {
  width: 235px;
  height: 42px;
}

.basket {
  position: relative;
  justify-self: end;
}

.basket SVG {
  width: 24px;
  height: 24px;
}

.basket span {
  position: absolute;
  color: #fff;
  font-size: 11px;
  line-height: 0;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: -4px;
}

.main {
}

.top {
  min-height: 100vh;
  background-image: url("./img/top-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
}

.title {
  padding-top: 16%;
  padding-bottom: 0;
  font-size: 96px;
  font-weight: normal;
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 36px;
}

.top__text {
  font-size: 13px;
}

.buy-btn {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  border: none;
  border: 1px solid var(--gradient, #bc10d8);
  cursor: pointer;
  background: rgba(217, 217, 217, 0);
}

.buy-btn__text {
  padding: 21px 111px;
  color: #f6f4f5;
  font-family: Helvetica-bold;
  font-weight: 700;
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  text-transform: uppercase;
}

.buy-btn__price {
  padding: 21px 106px;
  font-family: Helvetica-bold;
  font-weight: 700;
  color: var(--grey, #5c5c5e);
}

.buy__text {
  padding-top: 6px;
  font-size: 13px;
}

.features {
  margin-top: 100px;
}

.features__titles {
  display: flex;
}

.features__title {
  flex-basis: 300px;
  padding-right: 20px;
}

.features__text {
  max-width: 329px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  display: grid;
  grid-template-columns: 300px auto;
}

.tabs__btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px 0;
}

.tabs__btn-item {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
}

.tabs__btn-item--active {
  color: #070707;
}

.tabs__content {
  position: relative;
  min-height: 300px;
}

.tabs__content-item {
  display: grid;
  grid-template-columns: auto 280px;
  grid-template-rows: auto 150px;
  gap: 40px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
}

.tabs__content-item--active {
  opacity: 1;
  z-index: 6;
}

.tabs__content-img {
  grid-row: 1/-1;
  align-self: stretch;
}

.tabs__content-box {
}

.tabs__content-box h3 {
  font-size: 24px;
  font-weight: 400;
}

.tabs__content-box p {
  max-width: 273px;
  margin-top: 10px;
  font-weight: 400;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  grid-column: 2/3;
  gap: 9px 0;

  width: 280px;
  height: 150px;
  padding: 10px 9px;

  background-image: url(./img/content_2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.video span {
  color: var(--white, #f6f4f5);
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
}

.video__btn {
  margin-left: 22px;
}

.video__btn SVG {
  width: 50px;
  height: 50px;
}

.game {
  margin-top: 100px;
}

.game__title {
}
.game__inner {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game__descr {
  padding-right: 10px;
}

.game__descr-title {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__descr-text {
  margin-top: 10px;
}

.game__descr-link {
  margin-top: 30px;
  padding: 16px 48px 16px 47px;
  display: inline-block;

  border: 1px solid var(--gradient, #bc10d8);

  font-weight: 700;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__item {
  padding: 10px 15px 22px;
  border: 1px solid var(--gradient, #bc10d8);
  background: rgba(217, 217, 217, 0);

  display: flex;
  flex-direction: column;
}

.game__item-img {
}
.game__item-title {
  margin-top: 10px;

  font-size: 24px;
  font-weight: 400;
}
.game__item-text {
  margin-top: 10px;
  margin-bottom: 40px;
}
.game__item-link {
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: auto;
}

.buy {
  position: relative;
  margin-top: 100px;
  text-align: center;
  overflow: hidden;
}

.buy__bg {
  position: absolute;
  z-index: -1;

  font-family: Inter;
  font-size: 400px;
  font-weight: 700;
  line-height: 398px;

  opacity: 0.1;
  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: line-text 7s linear 1s infinite;
}

@keyframes line-text {
  from {
    transform: translateX(115%);
    transform-origin: left center;
  }
  to {
    transform: translateX(-115%);
    transform-origin: right center;
  }
}

.buy__img {
}
.buy-btn-oculus {
  margin: 30px auto 0;
}

.equipment {
  margin-top: 134px;
}

.equipment__title {
}

.equipment__box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}

.equipment__box-item {
}
.equipment__box-img {
  max-width: none;
}
.equipment__box-text {
  margin-top: 10px;
}
.equipment__box-title {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;

  background: var(--gradient, linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.equipment__box-item--one {
  grid-row: 1/-1;
}
